<template>
  <div>
    <section class="my-5">
      <div class="container px-4">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-7">
            <h1>WE MAKE YOUR MONEY TRANSFERS SAFE AND FAST</h1>
          </div>
          <div class="col-12 col-lg-5 bg-img">
            <img src="money.jpg" alt="A Pile Of Money" class="img-fluid"/>
          </div>
        </div>
        <div class="row pt-5 justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="p-5 contact-form text-white">
              <h2 class="text-center">HAVE ANY QUESTIONS?</h2>
              <form>
                <div class="my-4" :class="{error: validation.hasError('email')}">
                  <h5 class="text-center mb-2">EMAIL</h5>
                  <p class="text-danger">{{ validation.firstError('email') }}</p>
                  <input name="email" type="email" v-model="email" class="form-control mb-3" placeholder="Email" required="true">
                </div>
                <div class="my-4" :class="{error: validation.hasError('message')}">
                  <h5 class="text-center mb-2">YOUR MESSAGE</h5>
                  <p class="text-danger">{{ validation.firstError('message') }}</p>
                  <textarea class="w-100" name="message" v-model="message" placeholder="Your message"></textarea>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <a class="btn" href="#">SEND</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Vue from 'vue';
import SimpleVueValidation from 'simple-vue-validator';

const Validator = SimpleVueValidation.Validator

Vue.use(SimpleVueValidation);

export default {
  name: "index",
  auth: false,
  data() {
    return {
      email: '',
      message: ''
    }
  },
  validators: {
    "email": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).email('Your email format is not valid.');
      }
    },
    "message": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).minLength(50, 'Minimum length of message must be 50 symbols.');
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.contact-form {
  background-color: $form-bg-color;
  background-image: $form-gradient;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

.contact-form textarea {
  min-height: 10rem;
}

</style>
