<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <UserInfo/>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mt-4">
        <balance-button name="TRANSFER MONEY" link="/transfer"/>
      </div>
      <div class="col-12 col-lg-6 mt-4 ">
        <balance-button name="TRANSFERS HISTORY" link="/transfer/transfer-history"/>
      </div>
    </div>
  </div>
</template>

<script>
import UserInfo from "~/components/UserInfo";
import BalanceButton from "~/components/BalanceButton";

export default {
  name: "index",
  auth: true,
  components: {UserInfo, BalanceButton},
}
</script>

<style scoped lang="scss">
</style>
