<template>
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <LoginForm/>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "~/components/LoginForm";

export default {
  name: 'index',
  layout: 'default',
  components: {LoginForm},
  auth: false
}
</script>
