<template>
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <RegisterForm/>
      </div>
    </div>
  </div>
</template>

<script>
import RegisterForm from "@/components/RegisterForm";

export default {
  name: "index",
  auth: false,
  components: {RegisterForm}
}
</script>

<style scoped>

</style>
