<template>
  <div class="container my-5">
    <div class="row my-3">
      <div class="col-12">
        <h1 class="text-center">OUTCOME</h1>
        <OutcomeHistory/>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <h1 class="text-center">INCOME</h1>
        <IncomeHistory/>
      </div>
    </div>
  </div>
</template>

<script>
import OutcomeHistory from "~/components/OutcomeHistory";
import IncomeHistory from "~/components/IncomeHistory";

export default {
  name: "index",
  auth: true,
  components: {OutcomeHistory, IncomeHistory}
}
</script>

<style scoped>

</style>
