<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <TransferForm/>
      </div>
    </div>
  </div>
</template>

<script>
import TransferForm from "@/components/TransferForm";
export default {
  name: "index",
  components: {TransferForm},
  auth: true
}
</script>

<style scoped>

</style>
