<template>
  <div class="d-flex justify-content-center">
    <a class="balance-btn text-center text-decoration-none" :href="link">{{name}}</a>
  </div>
</template>

<script>
export default {
  name: "BalanceButton",
  props: [
    'name',
    'link'
  ]
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.balance-btn {
  background-color: $body-color-second;
  color: $secondary;
  padding: 12px 24px;
  transition: 0.3s;
  a {
    color: $secondary;
  }
  hover {
    color: $primary;
  }
}

</style>
