<template>
  <div class="row px-3">
    <div class="col-12 login-bg">
      <div class="mb-2">
        <form ref="form" @submit.prevent="login" class="p-3">
          <h2 class="text-center text-white">LOGIN</h2>
          <div v-if="errored" class="bg-danger text-white p-2 mb-2">
            <p class="text-center">{{ error_message }}</p>
          </div>
          <div :class="{error: validation.hasError('form.email')}">
            <p class="text-white">Email</p>
            <p class="text-danger">{{ validation.firstError('form.email') }}</p>
            <input name="name" v-model="form.email" type="email" class="form-control mb-3" placeholder="Email" required>
          </div>
          <div :class="{error: validation.hasError('form.password')}">
            <p class="text-white">Password</p>
            <p class="text-danger">{{ validation.firstError('form.password') }}</p>
            <input name="password" v-model="form.password" type="password" class="form-control mb-3" placeholder="Password" required>
          </div>
          <div class="d-flex justify-content-center pt-3">
            <button type="submit" href="" class="btn" >LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import SimpleVueValidation from 'simple-vue-validator';

const Validator = SimpleVueValidation.Validator

Vue.use(SimpleVueValidation);

export default {
  name: 'Login',
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      errored: false,
      error_message: ''
    }
  },
  validators: {
    "form.email": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).email('Your email format is not valid.');
      }
    },
    "form.password": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).minLength(10);
      }
    },
  },
  methods: {
    async login() {
      await this.$validate()
        .then(() => {
          let response = this.$auth.loginWith('laravelSanctum', {
            data: this.form
          }).then(() => {
            this.$router.push('/balance')
          })
            .catch(({response}) => {
              if (response.status === 422) {
                this.errored = true
                this.error_message = response.data.message
              }
            })
        })
    }
  }
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.login-bg {
  background-color: $form-bg-color;
  background-image: $form-gradient;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

</style>
