<template>
  <div class="text-center" v-if="transfers.length">
    <table class="table table-striped border border-2">
      <thead>
        <tr>
          <th scope="col">TO</th>
          <th scope="col">AMOUNT &euro;</th>
        </tr>
      </thead>
      <tbody v-for="transfer in transfers" :key="transfer.sender_account_id">
        <tr>
          <th>{{ transfer.receiver.account_number }}</th>
          <th><p class="text-danger">- {{ transfer.amount/100 | currency('&euro;', 2, {symbolOnLeft: false} ) }}</p></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else>
    <h3 class="text-center">You don't have any outcome</h3>
  </div>
</template>

<script>
import Vue2Filters from "vue2-filters";

export default {
  name: "TransferHistory",
  mixins: [Vue2Filters.mixin],
  data() {
    return {
      transfers: []
    }
  },
  created() {
    this.getTransfersHistory()
  },
  methods: {
    async getTransfersHistory() {
      try {
        let response = await this.$axios.$get('laravel/api/outcomeHistory')
        this.transfers = response.data
      } catch(err) {
        console.log(err)
      }
    }
  }
}
</script>

<style scoped>
</style>
