<template>
  <div class="row px-3">
    <div class="col-12 p-4 register-bg">
      <div class="mb-2">
        <form ref="form" @submit.prevent="register">
          <h2 class="text-center text-white">REGISTER</h2>
          <div :class="{error: validation.hasError('form.name')}">
            <p class="text-white">Name</p>
            <p class="text-danger">{{ validation.firstError('form.name') }}</p>
            <input name="name" v-model="form.name" type="text" class="form-control mb-3" placeholder="Name" required>
          </div>
          <div :class="{error: validation.hasError('form.email')}">
            <p class="mb-1 text-white">Email</p>
            <p class="text-danger">{{ validation.firstError('form.email') }}</p>
            <input name="email" type="email" v-model="form.email" class="form-control mb-3" placeholder="Email" required>
          </div>
          <div :class="{error: validation.hasError('form.password')}">
            <p class="mb-1 text-white">Password</p>
            <p class="text-danger">{{ validation.firstError('form.password') }}</p>
            <input name="password" type="password" v-model="form.password" class="form-control mb-3" placeholder="Password" required>
          </div>
          <div :class="{error: validation.hasError('form.repeatPassword')}">
            <p class="mb-1 text-white">Repeat Password</p>
            <p class="text-danger">{{ validation.firstError('form.repeatPassword') }}</p>
            <input name="repeat_password" type="password" v-model="form.repeatPassword" class="form-control mb-3" placeholder="Repeat password" required>
          </div>
          <div class="d-flex justify-content-center pt-3">
            <button type="submit" class="btn">REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import SimpleVueValidation from 'simple-vue-validator';

const Validator = SimpleVueValidation.Validator

Vue.use(SimpleVueValidation);

export default {
  name: "RegisterForm",
  data () {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        repeatPassword: '',
      },
      errors: {}
    }
  },
  validators: {
    "form.name": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).regex('^[A-Za-z]*$', 'Must only contain alphabetic characters.');
      }
    },
    "form.email": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).email('Your email format is not valid.');
      }
    },
    "form.password": {
      debounce: 500,
      validator(value) {
        return Validator.value(value).minLength(10);
      }
    },
    "form.repeatPassword, form.password": {
      debounce: 500,
      validator(value) {
        if(this.submitted || this.validation.isTouched('repeatPassword')) {
          return Validator.value(value).match('password');
        }
      }
    }
  },
  methods: {
    async register() {
      await this.$validate()
        .then(() => {
          this.$axios.$get('/laravel/sanctum/csrf-cookie')
          let response = this.$axios
            .$post('/laravel/api/register', this.form)
            .then(() => {
              this.$router.push('/login')
            })
            .catch(function (error){
            })
        })
    }
  }
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.register-bg {
  background-color: $form-bg-color;
  background-image: $form-gradient;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

</style>
