<template>
  <footer class="d-flex align-items-center">
      <div class="container">
        <p class="text-center mb-0"><strong>TRANSFERS</strong> &copy; {{ currentYear }} All rights reserved</p>
      </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooter",
  data () {
    return {
      currentYear: new Date().getFullYear(),
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/app.scss";

footer {
  height: $footer-height;
  background-color: $body-color-second;
  color: $secondary;
  bottom: 0;
}

</style>
