<template>
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <a class="navbar-brand px-3" href="/">TRANSFERS</a>
      <button class="navbar-toggler px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-expanded="false">
        <span class="text-white">MENU</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto px-3" v-if="$auth.loggedIn">
          <li class="nav-link text-white pe-2 text-uppercase">NAME:  {{ user.name }}</li>
          <li class="nav-item">
            <a class="nav-link" href="/balance">BALANCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" @click="logout">LOG OUT</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto px-3" v-else>
          <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "TheHeader",
  computed: {
    user() {
       return  this.$store.$auth.user;
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout('/api/logout')
      this.$router.push('/')
    },
  }
}
</script>

<style scoped lang="scss">
@import "../assets/app.scss";

.navbar {
  height: $header-height;
  background-color: $body-color-second;
}

.navbar-brand {
  font-size: 2rem;
  color: $secondary;
  transition: 0.5s;
}

.navbar-brand:hover {
  color: $primary;
}

.navbar-toggler-icon {
  color: $secondary;
}

.nav-link {
  color: $secondary;
  transition: 0.4s;
}

.nav-link:hover {
  color: $primary;
}

.navbar-collapse .show {
  background-color: $body-color-second;
}

</style>
