<template>
  <div class="p-4 transfer-bg">
    <form @submit.prevent="transfer">
      <h2 class="text-center pb-4 text-white">MONEY TRANSFER</h2>
      <div v-if="error" class="bg-danger text-white p-2 mb-2">
        <p class="text-center">{{ error_message }}</p>
      </div>
      <p class="text-white">RECEIVER AMOUNT NUMBER</p>
      <input type="text" v-model="form.receiver_account_number" class="form-control mb-3"
             placeholder="Receiver account number" required>
      <p class="text-white">AMOUNT</p>
      <input type="text" v-model="form.amount" class="form-control mb-3" placeholder="AMOUNT" required>
      <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn">TRANSFER</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "TransferForm",
  data() {
    return {
      form: {
        receiver_account_number: '',
        amount: ''
      },
      error: false,
      error_message: ''
    }
  },
  methods: {
    async transfer() {
      this.form.amount = this.form.amount * 100
      let response = await this.$axios.$post('/laravel/api/transfer', this.form)
        .then((response) => {
          this.$router.push('/balance')
        })
        .catch(({response}) => {
          if(response.status === 422) {
            this.error = true
            this.error_message = response.data.message
          }
        })
    }
  }
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.transfer-bg {
  background-color: $form-bg-color;
  background-image: $form-gradient;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}

</style>
