<template>
  <div class="p-4 user-bg text-white">
    <h2 class="text-center pb-3">USER INFO</h2>
    <div class="row" v-for="account in accounts" :key="account.account_number">
      <div class="col-12 col-md-6 text-center">
        <h5 class="text-uppercase">NAME</h5>
        <p class="text-uppercase">{{ user.name }}</p>
        <h5>ACCOUNT NUMBER</h5>
        <p>{{ account.account_number }}</p>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="text-center">ACCOUNT BALANCE</h4>
        <h4 class="text-center">{{account.amount/100 | currency }} &euro;</h4>
      </div>
    </div>
  </div>
</template>

<script>
import Vue2Filters from "vue2-filters";

export default {
  name: "UserInfo",
  mixins: [Vue2Filters.mixin],
  data() {
    return {
      accounts: [],
      amount: []
    }
  },
  computed: {
    user() {
      return this.$store.$auth.user
    }
  },
  created() {
    this.getUserInfo();
  },
  methods: {
    async getUserInfo() {
      try {
        let response = await this.$axios.$get('laravel/api/accounts')
        this.accounts = response.data
      } catch (err) {
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "~assets/app.scss";

.user-bg {
  background-color: $form-bg-color;
  background-image: $form-gradient;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}
</style>
