// Body
$body-bg: #e9ecef;
$body-color: #343a40;
$body-color-second: #748ffc;

//form

$form-bg-color: #748ffc;
$form-gradient: linear-gradient(90deg, rgba(116,143,252,1) 0%, rgba(84,102,179,1) 100%);
//linear-gradient(225deg, #748ffc 0%, #5e75d1 37%, #2e3f91 81%)
//linear-gradient(90deg, rgba(116,143,252,1) 0%, rgba(84,102,179,1) 100%);

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;

//$font-size-base: .875rem; // 14px
$line-height-base: 1.6;
$text-color: #343a40;

// Colors
$primary: #343a40;
$secondary: #f1f3f5;
$hover: #4c6ef5;

//Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1900px;



$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  xxxl: $xxxl
);

//heights

$header-height: 75px;
$footer-height: 50px;
