@import "~bootstrap/scss/bootstrap.scss";
@import "utilities";
@import "variables";
@import "typography";
@import "mixins/sizing";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@include media-breakpoint-down(lg) {
  #navbarNav {
    min-height: 100vh;
    background-color: $body-color-second;
  }
}

html, body, #__layout {
  height: 100vh;
}

.full-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

footer {
  margin-top: auto;
}
