@import "variables";

.cursor-pointer {
  cursor: pointer;
}

.full-height {
  min-height: calc(100vh - #{$header-height} - #{$footer-height})
}

.btn {
  background-color: $body-color-second;
  color: $secondary;
  padding: 1rem 2rem;
  display: block;
  font-size: 0.9rem;
  min-width: 6rem;
  max-width: 8rem;
  font-weight: 500;
  border: 3px solid $secondary;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background-color: $body-color-second;
  border: 3px solid $primary;
  color: $primary;
}

.btn a {
  text-decoration: none;
}
