<template>
  <div>
    <section class="mainpage-bg">
      <div class="container px-4 py-5">
        <div class="row align-items-center">
          <div class="col-12 col-lg-8 text-white">
            <h1>We Made Your Money Transfers</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="col-12 col-lg-4 d-flex justify-content-center">
              <a href="/register" class="btn">REGISTER</a>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-5 offer-bg">
      <div class="container px-4 py-5">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6 order-lg-1">
            <h2 class="ps-4 pb-4">We Offer You</h2>
            <ul class="ps-5">
              <li class="mb-2">FASTEST MONEY TRANSFERS</li>
              <li>SAFE MONEY TRANSFER</li>
            </ul>
          </div>
          <div class="col-12 col-lg-6 order-lg-0">
            <img src="money.jpg" class="img-fluid" alt="A Pile Of Money"/>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5">
      <div class="container px-4">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-7 order-lg-0">
            <h2>Have Any Questions?</h2>
            <p>If You have any questions you can always contact us. We have 24/7 support</p>
          </div>
          <div class="col-12 col-lg-5 order-lg-1 d-flex justify-content-center">
            <a href="/contact-us" class="btn ms-3">CONTACT US</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'default',
  auth: false
}
</script>

<style lang="scss" scoped>
@import "~assets/app.scss";

.mainpage-bg {
  background-image: url('static/money.jpg');
  min-height: 30vh;
}

.offer-bg {
  background-color: rgb(233,233,237);
  background-image: linear-gradient(90deg, rgba(233,233,237,1) 0%, rgba(189,189,194,1) 100%);
}

</style>
