@use 'sass:math';
// Sizing percentage
$i: 1;
@while $i < 100 {
  $width: percentage(math.div($i, 100));
  .w-#{$i} {
    width: $width !important;
  }
  .h-#{$i} {
    height: $width !important;
  }
  $i: $i+1;
}
// Sizing rem min
$i: 0.10;
@while $i < 22 {
  $width: ($i);
  .min-width-#{round($i*10)} {
    min-width: $width + rem !important;
  }
  .min-height-#{round($i*10)} {
    min-height: $width + rem !important;
  }
  $i: $i+0.10;
}

// Sizing rem max
$i: 0.10;
@while $i < 170 {
  $width: ($i);
  .max-width-#{round($i*10)} {
    max-width: $width + rem !important;
  }
  .max-height-#{round($i*10)} {
    max-height: $width + rem !important;
  }
  $i: $i+0.10;
}

// Sizing rem
$i: 0.10;
@while $i < 20 {
  $width: ($i);
  .width-#{round($i*10)} {
    width: $width + rem !important;
  }
  .height-#{round($i*10)} {
    height: $width + rem !important;
  }
  $i: $i+0.10;
}

// Font Sizing
$i: 0.10;
@while $i < 10 {
  $font-size: ($i);
  .f-size-#{round($i*10)} {
    font-size: $font-size + rem !important;
  }
  $i: $i+0.10;
}
